<div class="page">
  <div class="menu">
    <div class="nav">
      <li>Home</li>
      <li>Service</li>
      <li>News</li>
      <li>Blog</li>
      <li>Contact</li>
    </div>
  </div>
  <div class="body">
    <div class="logo">
      <img src="../assets/logoNCC 1.png" alt="">
    </div>
    <div>
    </div>
    <div>
      <div class="content">
        <img src="../assets/Lorem ipsum dolor sit asmet_ (2).png" alt="">
        <div class="main_content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique consequat placerat. Vestibulum auctor pellentesque sem, eu <br>
          posuere erat hendrerit quis. Maecenas vel consequat turpis. Nam facilisis, ligula in mattis sodales, augue justo tristique nulla, sed lacinia <br>
           ante eros ut mi. Morbi vitae diam augue. Aliquam vel mauris a nibh auctor commodo. Praesent et nisi eu justo eleifend convallis. Quisque <br>
           suscipit maximus vestibulum. Phasellus congue mollis orci, sit amet luctus augue tristique eu. Donec vulputate odio neque, sed semper<br>
            turpis pellentesque a.
        </div>
      </div>
      <div class="list">
        <div>
          <img src="../assets/Lorem ipsum dolor sit amet.png" alt="">
          <div class="item">
            <img src="../assets/css-icon 1.png" alt="">
            <div>Lorem ipsum dolor sit amet, consectetur <br>
              adipiscing elit. Sed non dui sodales, faucibus <br>
              libero ut, posuere felis. Donec imperdiet suscipit <br>
              accumsan. Aenean consequat condimentum velit ut tempor.<br>
               Nam porta massa in metus bibendum congue. Pellentesque<br>
                ultrices liquam egestas nunc at </div>
          </div>
          <div>
            ullamcorper ultricies. Donec feugiat velit nulla, vel sodales est <br>
             ullamcorper id. Aenean consequat condimentum velit ut tempor. <br>
             Nam porta massa in metus bibendum congue. Pellentesque ultrices <br>
             vestibulum mattis.
          </div>
        </div>
        <div>
          <img src="../assets/Lorem ipsum dolor sit amet.png" alt="">
          <div class="item">
            <img src="../assets/html-icon 1.png" alt="">
            <div>Lorem ipsum dolor sit amet, consectetur <br>
              adipiscing elit. Sed non dui sodales, faucibus <br>
              libero ut, posuere felis. Donec imperdiet suscipit <br>
              accumsan. Aenean consequat condimentum velit ut tempor.<br>
               Nam porta massa in metus bibendum congue. Pellentesque<br>
                ultrices liquam egestas nunc at </div>
          </div>
          <div>
            ullamcorper ultricies. Donec feugiat velit nulla, vel sodales est <br>
             ullamcorper id. Aenean consequat condimentum velit ut tempor. <br>
             Nam porta massa in metus bibendum congue. Pellentesque ultrices <br>
             vestibulum mattis.
          </div>
        </div>
        <div>
          <img src="../assets/Lorem ipsum dolor sit amet.png" alt="">
          <div class="item">
            <img src="../assets/url-icon 1.png" alt="">
            <div>Lorem ipsum dolor sit amet, consectetur <br>
              adipiscing elit. Sed non dui sodales, faucibus <br>
              libero ut, posuere felis. Donec imperdiet suscipit <br>
              accumsan. Aenean consequat condimentum velit ut tempor.<br>
               Nam porta massa in metus bibendum congue. Pellentesque<br>
                ultrices liquam egestas nunc at </div>
          </div>
          <div>
            ullamcorper ultricies. Donec feugiat velit nulla, vel sodales est <br>
             ullamcorper id. Aenean consequat condimentum velit ut tempor. <br>
             Nam porta massa in metus bibendum congue. Pellentesque ultrices <br>
             vestibulum mattis.
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <img class="Copyright" src="../assets/Copyright © 2021.png" alt="">
    </div>
  </div>
</div>
